{# templates/base.html.twig #}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {# Le titre sera défini par chaque page enfant #}
    <title>{% block title %}Véhicloc{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
</head>
<body>

{% include('header.html.twig') %}

{# C'est ici que le contenu spécifique de chaque page sera inséré #}
<main>
    {% block body %}{% endblock %}
</main>

{% include('footer.html.twig') with {'current_year':'now'|date('Y')} %}

</body>
</html>
