{# templates/footer.html.twig #}
<footer>
    <h2>Conduire avec nous</h2>
    <nav>
        <ul>
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">Nous contacter</a></li>
            <li>
                <a href="#"><img src="{{ asset('assets/icons/instagram.png') }}" alt="Instagram" /></a>
                <a href="#"><img src="{{ asset('assets/icons/facebook.png') }}" alt="Facebook" /></a>
            </li>
        </ul>
        <ul>
            <li><a href="#">Données personnelles</a></li>
            <li><a href="#">Questions fréquentes</a></li>
            <li class="copyright">© Véhicloc {{ current_year }}</li>
        </ul>
    </nav>
</footer>
